* {
	margin:0;
	padding:0;
}
html {
	scroll-behavior:smooth;
}
body {
	overflow:hidden;
}
header {
	background-color: rgba(4, 50, 120, .9);
	z-index:9999;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.container {
	width:80%;
	margin:auto;
}
.logo {
	color:#fff;
	float:left;
	width:25%;
	font-size:25px;
	font-family:cursive,sans-serif;
	font-weight:bold;
	margin:10px 0;
}
.toggle .fa {
	float:right;
	color:#fff;
	margin-top:8px;
	font-size:30px;
	background-color:transparent;
	border:2px solid #2ecccc;
	padding:5px 10px;
	display:none;
}
.toggle .fa:hover {
	background-color:#2ecccc;
}
nav {
	float:left;
	width:75%;
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	z-index:9999;
}
.show {
	margin-left:0;
}
nav .list {
	list-style-type:none;
	text-align:right;
}
.list .close {
	color:#fff;
	text-align:right;
	font-size:25px;
	padding:20px;
	display:none;
}
.list .close .fa {
	cursor:pointer;
}
.list li {
	display:inline-block;
}
.list a {
	color:#fff;
	padding:20px 15px;
	text-decoration:none;
	display:block;
}
.active {
	background-color:#2ecccc;
}
@media (max-width:2800px) {
	.toggle .fa {
		display:block;
	}
	nav {
			display:block;
			float:none;
			position:absolute;
			top:69px;
			left:0;
			width:70%;
			margin-left:-100%;
	}
	nav .list {
			background-color: rgba(4, 50, 120, .9);
			min-height: 100vh;
	}
	.list .close {
		display:block;
	}
	.list li {
		display:block;
		text-align:left;
	}
	.list a {
		color:#fff;
		padding:20px 15px;
		text-decoration:none;
		display:block;
		font-family: BentonSansBBVA-Light;
	}
}
#home {
	background:-webkit-linear-gradient(to left top,#ffb3b3,#ff9999,#ff8080,#ff6666,#ff4d4d,#ff333);
	background:linear-gradient(to left top,#ffb3b3,#ff9999,#ff8080,#ff6666,#ff4d4d,#ff3333);
	color:#fff;
}
section {
	
}
#backTop {
	position:fixed;
	bottom:10px;
	right:10px;
	background-color:#2ecccc;
	border: 0px solid #2ecccc;
	color:#fff;
	font-weight:bold;
	padding:10px;
	font-size:22px;
	z-index:9999;
	outline:none;
	display: none;
}