.viewdesk{
	display: block !important;
}
.viewmobile{
	display: none !important;
}

@media screen and (max-width:800px) {
	.viewdesk{
	    display: none !important;
	}
	.viewmobile{
	    display: block !important;
	}
	.conter40menu{
		width: 100%;
		max-width: initial;
	}
	.cd-primary-nav{
		padding: 50px 0px 0px 0px;
	}
	.conterlogros{
		width: 100%;
	}
	.conter33{
		width: 100%;
	}
	.conter50{
		width: 100%;
	}
	.titulologros {
	  font-size: 40px;
	}
	.conter25{
		width: 100%;
	}
	.conter20{
		width: 100%;
	}
	.conter20a{
	  width: 50%;
	}
	.conter40{
		width: 100%;
	}
	.conter40menu {
	  width: 100%;
	  max-width: 100%;
	  height: 100%;
	  display: block;
	  overflow: hidden;
	  float: left;
	  background-color: rgba(4, 50, 120, .9);
	  text-align: left;
	  padding-top: 50px;
	}
	.juntos {
	  width: 100vw;
	  height: auto;
	  min-height: 100vh;
	  padding: 50px 0px;
	  display: block;
	  overflow: hidden;
	  position: relative;
	  background-image: url('../img/bg5.jpg');
	  background-size: cover;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	  background-position-x: -660px;
	}
	.conterjuntos {
	  width: 90%;
	  display: block;
	  overflow: hidden;
	  margin-right: 0px;
	  float: initial;
	  position: relative;
	  margin: 0 auto;
	}
	.conterodssalud {
	  width: 90%;
	  display: block;
	  overflow: hidden;
	  background-color: #ededed;
	  position: relative;
	  left: inherit;
	  bottom: 5%;
	  padding: 20px 30px;
	  margin: 0 auto;
	}
	.resultados2020 {
		top: 0px;
		min-height: auto;
	}
	.conter95right {
	  width: 90%;
	  display: block;
	  float: initial;
	  margin: 0 auto;
	}
	.conter95left {
	  width: 90%;
	  display: block;
	  float: initial;
	  margin: 0 auto;
	}
	.apoyo {
	  width: 100%;
	  height: auto;
	  display: flex;
	  overflow: hidden;
	  position: relative;
	  background-color: #ffffff;
	  align-items: center;
	  align-content: center;
	  background-image: url('../img/bg10.jpg');
	  background-size: cover;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	  background-position-x: right;
	}
	.titulodes12 {
	  font-family: BentonSansBBVA-Bold;
	  font-size: 29px;
	  color: #fff;
	}
	.conterflex{
		display: block;
	}
	.imgfull2{
		width: 100%;
	}
	.conter60{
		width: 100%;
	}
	.conter70center{
		width: 90%;
	}
	.minheg {
	  min-height: auto !important;
	}
	.contertitutrans22{
		position: relative;
	}
	.interfomento {
	  display: block;
	  overflow: hidden;
	  position: relative;
	  bottom: 5%;
	  width: 100%;
	  margin-top: 50px;
	}
	.conter30{
		width: 100%;
	}
	.conter70{
		width: 100%;
	}
	.intermoni {
  		width: 90%;
  		margin: 0 auto;
  		padding-top: 100px;
  	}
  	.conter100movil{
  		padding-top: 350px;
  	}
  	.becas{
  		min-height: 210vh;
  		display: block;
  		background-position-x: right;
  	}
  	.conterinfobecas {
	  width: 90%;
	  max-width: 850px;
	  float: initial;
	  padding-right: 0px;
	  overflow: hidden;
	  display: block;
	  right: inherit;
	  position: relative;
	  padding-bottom: 50px;
	  margin: 0 auto;
	  padding-top: 30px;
	}
	.myButton {
	  background-color: #2ecccc;
	  display: flex;
	  cursor: pointer;
	  color: #ffffff;
	  font-family: BentonSansBBVA-Book;
	  font-size: 17px;
	  padding: 6px 21px;
	  text-decoration: none;
	  position: relative;
	  right: inherit;
	  bottom: 30%;
	  align-content: center;
	  align-items: center;
	  z-index: 3;
	  width: 200px;
	  float: right;
	 	margin-top: -25px;
	}
	.resul {
		top: 0;
	}
	.marimg1{
		margin: 50px 0px;
	}
	.edu{
		display: block;
	}
	.bordright {
	  border-right: 0px solid #fff;
	}
	.conter90right {
	  width: 90%;
	  display: block;
	  float: left;
	}
	.resultados2020{
		padding: 80px 0px 50px 0px;
	}
	.borderder1px{
		border-right: 0px solid #fff;
	}
	.padtop40pxmovil{
		padding-top: 40px;
	}
	.borderrigazul {
	  border-right: 0px solid #043278;
	}
	.hrazul2 {
	  border-top: 0px solid #043278;
	  border-left: 0;
	  border-right: 0;
	  border-bottom: 0;
	  width: 100%;
	  margin: 0px auto;
	}
	.hrazul3 {
	  border-top: 0px solid #043278;
	  border-left: 0;
	  border-right: 0;
	  border-bottom: 0;
	  width: 50%;
	  margin: 0px auto;
	  float: left;
	}
	.resul{
		display: block;
	}























}