*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: BentonSansBBVA-Bold;
  src: url('../fonts/BentonSansBBVA-Bold.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Book;
  src: url('../fonts/BentonSansBBVA-Book.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Light;
  src: url('../fonts/BentonSansBBVA-Light.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Medium;
  src: url('../fonts/BentonSansBBVA-Medium.otf') format("opentype");
}












/* --- generales --- */
.textcenter{
  text-align: center;
}
.textleft{
  text-align: left;
}
.textright{
  text-align: right;
}
.azul{
  color: #043278 !important;
}
.azul2{
  color: #2dcccd !important;
}
.azul3{
  color: #1588ca !important;
}
.blanco{
  color: #ffffff !important;
}
.amarillo{
  color: #fecd51 !important;
}
.naranja{
  color: #fd8a3e !important;
}
.rojo{
  color: #ff5752 !important;
}
p{
  margin: 0;
  padding: 0;
}
.hrnegro{
  border-top: 1px solid #043278;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
}
.hrblanco{
  border-top: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
  margin: 15px auto;
}
.hrblanco2{
  border-top: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
  margin: 15px 0px;
}
.hrazul{
  border-top: 1px solid #043278;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
  margin: 15px 0px;
}
.hrazul2{
  border-top: 1px solid #043278;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 100%;
  margin: 15px auto;
}
.hrazul3{
  border-top: 1px solid #043278;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 50%;
  margin: 15px auto;
  float: left;
}
.hrazul4{
  border-top: 1px solid #2dcccd;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 30%;
  margin: 15px 0px;
  float: left;
}
.conter{
  width: 100%;
  display: block;
  overflow: hidden;
}
.conterflex{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
}
.texto{
  font-family: BentonSansBBVA-Book;
  font-size: 16px;
}
.numero{
  font-family: BentonSansBBVA-Bold;
  font-size: 35px;
}

.textonumero{
  font-family: BentonSansBBVA-Bold;
  font-size: 30px;
}
.conter50{
  width: 50%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter25{
  width: 25%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter20{
  width: 20%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter20a{
  width: 20%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter33{
  width: 33.33%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter40{
  width: 40%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
  position: relative;
}
.minheight{
  min-height: 100px;
}
.conter10{
  width: 10%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
}
.conter60{
  width: 60%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter30{
  width: 30%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
}
.conter70{
  width: 70%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
}
.conter70center{
  width: 70%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 1px;
}
.conter90{
  width: 90%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.bold{
  font-family: BentonSansBBVA-Bold !important;
}
.medium{
  font-family: BentonSansBBVA-Medium !important;
}
.destacados{
  font-family: BentonSansBBVA-Book;
  font-size: 20px;
}
.padtop50px{
  padding-top: 50px;
}
.padtop100px{
  padding-top: 100px;
}
.martop20px{
  margin-top: 20px !important;
}
.padtop20px{
  padding-top: 20px;
}
.contergeneral{
  width: 90%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.contergeneral100{
  width: 100%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.imgfull{
  width: 100%;
}
.imgfull2{
  width: 80%;
}
.img90{
  width: 90%;
  margin: 0 auto ;
}
.backazul{
  background-color: #043278 !important;
}
.conter{
  width: 100%;
  display: block;
  overflow: hidden;
}
.conter90left{
  width: 90%;
  display: block;
  float: left;
}
.conter90right{
  width: 90%;
  display: block;
  float: right;
}
.conter95left{
  width: 95%;
  display: block;
  float: left;
}
.conter95right{
  width: 95%;
  display: block;
  float: right;
}
.conter95{
  width: 95%;
  display: block;
  margin: 0 auto;
}
.bordright{
  border-right: 1px solid #fff;
}
.pad1px{
  padding: 1px;
}
.borderder1px{
  border-right: 1px solid #ffffff;
}







/* --- home1 --- */
.home1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: initial;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.logo1{
  display: block;
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 150px;
}
.logohome{
  display: block;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 3%;
  width: 90%;
  max-width: 250px;
}

.contertitulohome{
  display: block;
  overflow: hidden;
  width: 90%;
  max-width: 650px;
  position: absolute;
  left: 50%;
  margin-left: -325px;
  bottom: 1%;

}
.titulohome{
  font-family: BentonSansBBVA-Bold;
  font-size: 60px;
  line-height: 60px;
}
.titulohome3{
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  letter-spacing: 10px;
  color: #043278;
}
.myButton2 {
  background-color: #2ecccc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 10px 50px;
  text-decoration: none;
  position: relative;
  transition: all .5s;
}
.myButton2:hover {
  background-color:#fecd51;
}




/* --- logros --- */

.logros{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.titulologros {
  font-family: BentonSansBBVA-Light;;
  font-size: 45px;
}
.titulologros2 {
  font-family: BentonSansBBVA-Bold;
  font-size: 70px;
  color: rgba(0, 0, 0, .0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff5752;
}
.contertitulologros{
  display: block;
  overflow: hidden;
  margin-left: 20%;
}
.conterlogros{
  width: 80%;
  display: block;
  max-width: 900px;
  float: right;
  background-color: rgba(255, 87, 82, .75);
  padding: 25px;
  margin-top: 50px;

}

/* --- becas --- */

.becas{
  width: 100vw;
  height: auto;
  min-height: 140vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
}

.conterinfobecas {
  width: 90%;
  max-width: 850px;
  float: right;
  padding-right: 50px;
  overflow: hidden;
  display: block;
  right: 0;
  position: absolute;
  padding-bottom: 150px;
}
.conterbtnbecas{
  display: flex;
  position: absolute;
  overflow: hidden;
  bottom: 50px;
  right: 0;
  width: 60px;
  height: 130px;
  background-color: #043278;
  padding: 10px;
  align-items: center;
  align-content: center;
  z-index: 10;
}
.wrapper {
  position: absolute;
  /*top: 0%;*/
  left: 35%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
}
.becas2{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: block;
  overflow: hidden;
  position: relative;
  
}
.conterlinea{
  width: 90%;
  max-width: 750px;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
.conterodschavos{
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}













/* --- resultados --- */

.resul{
  width: 100vw;
  height: auto;
  min-height: 100%;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  background-position-y: center;
  right: 100%;
  transition: all .5s;
  z-index: 1;
}
.activeresul{
  right: 0%
}
.conterazul{
  width: 100%;
  display: block;
  padding: 25px 40px;
}
.tituloresul {
  font-family: BentonSansBBVA-Light;;
  font-size: 35px;
}

/* --- mentoria --- */

.mentoria{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg4.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

/* --- educacion --- */

.edu{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #043278;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

/* --- juntos --- */

.juntos{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg5.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.conterjuntos{
  width: 40%;
  display: block;
  overflow: hidden;
  margin-right: 50px;
  float: right;
  position: relative;
}
.conterinterjuntos{
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 25px;
  background-color: #e4f9f9;
}
.iconjuntos{
  width: 90%;
  max-width: 70px;
  display: block;
  padding-bottom: 20px;
}
.iconjuntos2{
  width: 90%;
  max-width: 70px;
  display: block;
  padding-bottom: 20px;
  margin: 0 auto;
}
.resultados2020{
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 50px 0px;
  position: absolute;
  left: -100%;
  background-color: #e6ebf1;
  transition: all .5s;
  z-index: 2;
  align-items: center;
  align-content: center;
}
.activeresultados2020{
  left: 0%;
}
.myButton3 {
  background-color: #2ecccc;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 6px 50px;
  text-decoration: none;
  position: absolute;
transition: all .5s;
right: 0;
z-index: 10;
align-items: center;
align-content: center;
}
.myButton3:hover {
  background-color:#fecd51;
}
.conterodssalud{
  width: 40%;
  display: block;
  overflow: hidden;
  background-color: #ededed;
  position: absolute;
  left: 0px;
  bottom: 5%;
  padding: 20px 30px;
}
.min20{
  min-height: 220px;
}



















/* --- apoyo --- */

.apoyo{
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  background-image: url('../img/bg10.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.conterodsapoyo{
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: #ededed;
  position: relative;
  left: 0px;
  bottom: 0;
  padding: 20px 30px;
}
.myButton4 {
  background-color: #2ecccc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 10px 50px;
  text-decoration: none;
  position: relative;
  transition: all .5s;
  margin: 0 auto;
}
.myButton4:hover {
  background-color:#fecd51;
}
.infodespensas{
  display: flex;
  width: 40%;
  height: auto;
  min-height: 100%;
  padding: 50px 0px;
  position: absolute;
  left: -100%;
  background-color: #e6ebf1;
  transition: all .5s;
  z-index: 2;
  align-items: center;
  align-content: center;
}
.activerinfodespensas{
  left: 0%;
}
.inforeconstruccion{
  display: flex;
  width: 40%;
  height: auto;
  min-height: 100%;
  padding: 50px 0px;
  position: absolute;
  left: -100%;
  background-color: #e6ebf1;
  transition: all .5s;
  z-index: 2;
  align-items: center;
  align-content: center;
}
.activerinforeconstruccion{
  left: 0%;
}
.myButton5 {
  background-color: #2ecccc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 10px 50px;
  text-decoration: none;
  position: relative;
  transition: all .5s;
  margin: 0 auto;
}
.myButton5:hover {
  background-color:#fecd51;
}
/* --- comunidad --- */
.minheg{
  min-height: 100vh !important;
}
.comunidad{
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  background-image: url('../img/bg11.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.conterodscomunidad{
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: rgba(237, 237, 237, .7);
  position: relative;
  left: 0px;
  bottom: 0;
  padding: 20px 30px;
}
.myButton6 {
  background-color: #2ecccc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 10px 50px;
  text-decoration: none;
  position: relative;
  transition: all .5s;
  margin: 0 auto;
}
.myButton6:hover {
  background-color:#fecd51;
}
.conterbtncomunidad{
  display: block;
  position: absolute;
  width: 100%;
  top: 40%;
  right: 0;
}
.myButton7 {
  background-color: #2ecccc;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 6px 50px;
  text-decoration: none;
  position: relative;
transition: all .5s;
width: 350px;
align-items: center;
align-content: center;
}
.myButton7:hover {
  background-color:#fecd51;
}
.comunidad2011{
  display: flex;
  width: 100%;
  height: auto;
  min-height: 55%;
  padding: 10px 0px;
  position: absolute;
  left: -100%;
  background-color: #e6ebf1;
  transition: all .5s;
  z-index: 2;
  align-items: center;
  align-content: center;
  top: 0;
}
.activecomunidad2011{
  left: 0%;
}


/* --- transformacion --- */

.transform{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg6.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
}
.contertitutrans{
  width: 90%;
  display: block;
  max-width: 500px;
  padding-top: 100px;
  padding-left: 30px;
  overflow: hidden;
}
.contertitutrans22{
  width: 90%;
  display: block;
  max-width: 300px;
  position: absolute;
  right: 5%;
  top: 12%;
}
.myButton {
  background-color: #2ecccc;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 6px 21px;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 30%;
  align-content: center;
  align-items: center;
  z-index: 3;
}
.myButton:hover {
  background-color:#fecd51;
}
.interfomento{
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.borderresul{
  border: 2px solid #ffffff;
  display: block;
  padding: 20px;
  width: 100%;
}
















/* --- monitoreo --- */

.moni{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg7.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.intermoni{
  width: 40%;
  display: block;
  margin-left: 5%;
  height: auto;
  margin-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
}

/* --- video --- */


.conterplay{
  width: 50px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.conterplay{
  stroke-width: 5px;
  stroke-miterlimit: 10;
  fill: transparent;
  stroke-dasharray: 670;
  stroke-dashoffset: 670;
  animation: lineaanimateplay 6s forwards infinite;
}
.play{
  fill: #fff;
  animation: trianguloplay 6s forwards infinite;
}



@keyframes lineaanimateplay {
  0% {
    stroke-dashoffset: 670;
  }
  30% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 670;
  }
}
@keyframes trianguloplay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineaanimate {
  to {
    stroke-dashoffset: 0;
  }
}


/* --- tache --- */

div.buttontache {
  height: 40px;
  width: 40px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  transform: rotate(90deg);
  float: right;
}
div.buttontache div.line {
  width: 4px;
  height: 20px;
  background: #FFF;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  transition: all 0.3s cubic-bezier(0.87, 0.39, 0.74, 1.31);
}
div.buttontache div.line.left {
  -webkit-transform: rotateZ(-45deg);
  left: 20px;
}
div.buttontache div.line.right {
  -webkit-transform: rotateZ(45deg);
  left: 20px;
}
div.buttontache.open div.line.left {
  left: 14px;
}
div.buttontache.open div.line.right {
  left: 26px;
}

div.buttontache2 {
  height: 40px;
  width: 40px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  transform: rotate(-90deg);
  float: right;
}
div.buttontache2 div.line {
  width: 4px;
  height: 20px;
  background: #FFF;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 0;
  transition: all 0.3s cubic-bezier(0.87, 0.39, 0.74, 1.31);
}
div.buttontache2 div.line.left {
  -webkit-transform: rotateZ(-45deg);
  left: 20px;
}
div.buttontache2 div.line.right {
  -webkit-transform: rotateZ(45deg);
  left: 20px;
}
div.buttontache2.open div.line.left {
  left: 14px;
}
div.buttontache2.open div.line.right {
  left: 26px;
}


/* video */

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #043278;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #48c2c5;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
.destacadoscifras{
  width: 90%;
  max-width: 450px;
  display: block;
  padding: 30px 18px;
  background-color: #043278;
  text-align: center;
  margin:  0 auto;
}
.destacadoscifras2{
  width: 90%;
  max-width: 450px;
  display: block;
  padding: 30px 18px;
  background-color: #043278;
  text-align: center;
}
.titulodes11{
  font-family: BentonSansBBVA-Book;
  font-size: 24px;
  color: #fff;
}
.titulodes12{
  font-family: BentonSansBBVA-Bold;;
  font-size: 24px;
  color: #fff;
}

/* --- menu --- */


.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(4, 50, 120, .9);
  height: 50px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(4, 50, 120, .9);
  }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: rgba(4, 50, 120, .9);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: rgba(4, 50, 120, .9);
  }
}

.cd-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    left: 2.6em;
  }
}



.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #03263d;
}

.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: white;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 50px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 46%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}
.idioma {
  font-family: balto,sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  right: 92px;
  top: 27px;
  transition: all .5s;
}
.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 0;
}
.cd-primary-nav li {
  color: #fff;
  padding: 7px 15px;
  text-decoration: none;
  display: block;
font-family: BentonSansBBVA-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-primary-nav a {
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  color: #fff;
text-decoration: navajowhite;
font-size: 21px;
transition: all .5s;
}
.cd-primary-nav a:hover {
  color: #2ecccc !important;
  font-family: BentonSansBBVA-Book !important;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #e36767;
}
.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em;
}
.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-primary-nav .cd-facebook a {
  background-position: 0 0;
}
.cd-primary-nav .cd-instagram a {
  background-position: -44px 0;
}
.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0;
}
.cd-primary-nav .cd-twitter a {
  background-position: -132px 0;
}
.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 0 0 0;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
   
  }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem;
  }
}

.cd-intro {
  position: relative;
  height: 100%;
  background: url("../img/cd-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-intro h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    height: 700px;
  }
}

.cd-main-content {
  position: relative;
  z-index: 1;
}
.cd-main-content p {
  line-height: 1.6;
  margin: 2em 0;
}
@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.conter40menu {
  width: 40%;
  max-width: 40%;
  height: 100%;
  display: block;
  overflow: hidden;
  float: left;
  background-color: rgba(4, 50, 120, .9);
  text-align: left;
  padding-top: 50px;
}

/* --- reconocimientos --- */

.recono{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg8.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

.borderright{
  border-right: 1px solid #043278;
}

/* --- donativos --- */

.donativos{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}

.conterdonativosborder{
  border:  2px solid #043278;
  width: 100%;
  display: block;
  padding: 15px;
}
.minaltodatos{
  height: auto;
  min-height: 140px;
}
.borderrigazul{
  border-right: 1px solid #043278;
}
/* --- acerca --- */

.acerca{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg9.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

/* --- descargas --- */

.descargas{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 80px 0px 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #043278;
  align-items: center;
  align-content: center;
}
.conter70center{
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 20px 0px 0px 0xp;
  position: relative;
}
.textitalick{
  font-style: italic;
}

/* -- footer -- */
.footer{
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 15px 0px;
  background-color: #043278;
  z-index: 100;
position: sticky;
}
.conter50b2{
  display: block;
  width: 50%;
  float: left;
  position: relative;
  padding-top: 1px;
  max-width: 700px;
}

.myButton2foo {
  border: 1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:7px 31px;
  text-decoration:none;
  float: left;
  transition: all .5s;
}
.myButton2foo:hover{
  color: #2dcccd;
  border: 1px solid #2dcccd;
}
.myButton2foo:hover a svg g path{
  fill: #2dcccd important;
}

.myButtonfoo {
  border: 1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:7px 31px;
  text-decoration:none;
  float: right;
  transition: all .5s;
}
.myButtonfoo:hover{
  color: #2dcccd;
  border: 1px solid #2dcccd;
}
.myButtonfoo:hover a svg g path{
  fill: #2dcccd important;
}
.flecha{
  isplay: block;
  float: right;
  width: 10px;
  margin-left: 7px;
  margin-top: 2px;
}
.flecha2{
  isplay: block;
  float: left;
  width: 10px;
  margin-right: 7px;
  margin-top: 2px;
}
.pad40px{
  padding: 40px 0px;
}


/* scrrol */



#becas a#btnbecas span {
  position: absolute;
  bottom: 30%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#becas a#btnbecas span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.subemenu2{
  font-size: 17px !important;
}
nav div div ul{
  padding: 0;
  margin: 0px 0px 0px 15px;
}
/* --- animaciones --- */

.lineatiempo {
  fill: none;
  stroke: #043278;
  stroke-width: 5px;
  stroke-dasharray: 1900;
  stroke-dashoffset: 1900;
}
.lineatiempoanimate {
  animation: lineaanimate 10s forwards;
    animation-delay: 0s;
  animation-delay: .5s;
}
.tiempolinea1 {
  fill: none;
  stroke: #ff5752;
  stroke-width: 2px;
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
}
.tiempolinea1animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea2 {
  fill: none;
  stroke: #043278;
  stroke-width: 2px;
  stroke-dasharray: 230;
  stroke-dashoffset: -230;
}
.tiempolinea2animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea3 {
  fill: none;
  stroke: #52bbec;
  stroke-width: 2px;
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
}
.tiempolinea3animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea4 {
  fill: none;
  stroke: #fecd51;
  stroke-width: 2px;
  stroke-dasharray: 230;
  stroke-dashoffset: -230;
}
.tiempolinea4animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea5 {
  fill: none;
  stroke: #2dcccd;
  stroke-width: 2px;
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
}
.tiempolinea5animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea6 {
  fill: none;
  stroke: #fd8a3e;
  stroke-width: 2px;
  stroke-dasharray: 270;
  stroke-dashoffset: -270;
}
.tiempolinea6animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea7 {
  fill: none;
  stroke: #ff5752;
  stroke-width: 2px;
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
}
.tiempolinea7animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea8 {
  fill: none;
  stroke: #2dcccd;
  stroke-width: 2px;
  stroke-dasharray: 230;
  stroke-dashoffset: -230;
}
.tiempolinea8animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea9 {
  fill: none;
  stroke: #52bbec;
  stroke-width: 2px;
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
}
.tiempolinea9animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea10 {
  fill: none;
  stroke: #fecd51;
  stroke-width: 2px;
  stroke-dasharray: 270;
  stroke-dashoffset: -270;
}
.tiempolinea10animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea11 {
  fill: none;
  stroke: #043278;
  stroke-width: 2px;
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
}
.tiempolinea11animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}

.tiempolinea12 {
  fill: none;
  stroke: #fd8a3e;
  stroke-width: 2px;
  stroke-dasharray: 230;
  stroke-dashoffset: -230;
}
.tiempolinea12animate {
  animation: lineaanimate 2s forwards;
    animation-delay: 0s;
  animation-delay: .3s;
}


.opacity0{
  opacity: 0;
}
.ani1animate{
  animation: fadeIn;
  animation-delay: 1s;
}




























@keyframes lineaanimate {
  to {
    stroke-dashoffset: 0;
  }
}














