.viewdesk{
	display: block !important;
}
.viewmobile{
	display: none !important;
}

@media screen and (max-width:800px) {
	.viewdesk{
	    display: none !important;
	}
	.viewmobile{
	    display: block !important;
	}
	.home1{
		background-position-x: center;
	}
	.contertitulohome {
	  display: block;
	  overflow: hidden;
	  width: 90%;
	  max-width: 650px;
	  position: absolute;
	  left: 50%;
	  margin-left: -171px;
	  bottom: 1%;
	}
	.titulohome {
	  font-family: BentonSansBBVA-Bold;
	  font-size: 40px;
	  line-height: 40px;
	}

}