*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: BentonSansBBVA-Bold;
  src: url('../fonts/BentonSansBBVA-Bold.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Book;
  src: url('../fonts/BentonSansBBVA-Book.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Light;
  src: url('../fonts/BentonSansBBVA-Light.otf') format("opentype");
}
@font-face {
  font-family: BentonSansBBVA-Medium;
  src: url('../fonts/BentonSansBBVA-Medium.otf') format("opentype");
}












/* --- generales --- */
.textcenter{
  text-align: center;
}
.textleft{
  text-align: left;
}
.textright{
  text-align: right;
}
.azul{
  color: #043278 !important;
}
.azul2{
  color: #2dcccd !important;
}
.azul3{
  color: #1588ca !important;
}
.blanco{
  color: #ffffff !important;
}
.amarillo{
  color: #fecd51 !important;
}
.naranja{
  color: #fd8a3e !important;
}
p{
  margin: 0;
  padding: 0;
}
.hrnegro{
  border-top: 1px solid #043278;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
}
.hrblanco{
  border-top: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
  margin: 15px auto;
}
.hrblanco2{
  border-top: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
  margin: 15px 0px;
}
.hrazul{
  border-top: 1px solid #043278;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 80%;
  margin: 15px 0px;
}
.hrazul2{
  border-top: 1px solid #043278;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 100%;
  margin: 15px auto;
}
.conter{
  width: 100%;
  display: block;
  overflow: hidden;
}
.conterflex{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
}
.texto{
  font-family: BentonSansBBVA-Book;
  font-size: 16px;
}
.numero{
  font-family: BentonSansBBVA-Bold;
  font-size: 35px;
}

.textonumero{
  font-family: BentonSansBBVA-Bold;
  font-size: 30px;
}
.conter50{
  width: 50%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter40{
  width: 40%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
}
.conter10{
  width: 10%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
}
.conter60{
  width: 60%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter30{
  width: 30%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
}
.conter70{
  width: 70%;
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 1px;
}
.conter70center{
  width: 70%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 1px;
}
.conter90{
  width: 90%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.bold{
  font-family: BentonSansBBVA-Bold !important;
}
.medium{
  font-family: BentonSansBBVA-Medium !important;
}
.destacados{
  font-family: BentonSansBBVA-Book;
  font-size: 20px;
}
.padtop50px{
  padding-top: 50px;
}
.martop20px{
  margin-top: 20px;
}
.padtop20px{
  padding-top: 20px;
}
.contergeneral{
  width: 90%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.contergeneral100{
  width: 100%;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.imgfull{
  width: 100%;
}
.img90{
  width: 90%;
  margin: 0 auto ;
}
.backazul{
  background-color: #043278 !important;
}
.conter{
  width: 100%;
  display: block;
  overflow: hidden;
}
.conter90left{
  width: 90%;
  display: block;
  float: left;
}
.conter90right{
  width: 90%;
  display: block;
  float: right;
}
.conter95left{
  width: 95%;
  display: block;
  float: left;
}
.conter95right{
  width: 95%;
  display: block;
  float: right;
}
.bordright{
  border-right: 1px solid #fff;
}







/* --- home1 --- */
.home1{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: initial;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.logo1{
  display: block;
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 150px;
}
.logohome{
  display: block;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 3%;
  width: 90%;
  max-width: 250px;
}

.contertitulohome{
  display: block;
  overflow: hidden;
  width: 90%;
  max-width: 650px;
  position: absolute;
  left: 50%;
  margin-left: -325px;
  bottom: 1%;

}
.titulohome{
  font-family: BentonSansBBVA-Bold;
  font-size: 60px;
  line-height: 60px;
}
.titulohome3{
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  letter-spacing: 10px;
  color: #043278;
}
.myButton2 {
  background-color: #2ecccc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 10px 50px;
  text-decoration: none;
  position: relative;
  transition: all .5s;
}
.myButton2:hover {
  background-color:#fecd51;
}




/* --- logros --- */

.logros{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}
.titulologros {
  font-family: BentonSansBBVA-Light;;
  font-size: 45px;
}
.titulologros2 {
  font-family: BentonSansBBVA-Bold;
  font-size: 70px;
  color: rgba(0, 0, 0, .0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff5752;
}
.contertitulologros{
  display: block;
  overflow: hidden;
  margin-left: 20%;
}
.conterlogros{
  width: 70%;
  display: block;
  max-width: 800px;
  float: right;
  background-color: rgba(255, 87, 82, .75);
  padding: 25px;
  margin-top: 50px;

}

/* --- becas --- */

.becas{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

.conterinfobecas {
  width: 90%;
  max-width: 850px;
  float: right;
  padding-right: 50px;
  overflow: hidden;
  display: block;
  right: 0;
  position: absolute;
  padding-bottom: 200px;
}
.conterbtnbecas{
  display: flex;
  position: absolute;
  overflow: hidden;
  bottom: 50px;
  right: 0;
  width: 60px;
  height: 130px;
  background-color: #043278;
  padding: 10px;
  align-items: center;
  align-content: center;
  z-index: 10;
}
.wrapper {
  position: absolute;
  /*top: 0%;*/
  left: 35%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
}
















/* --- resultados --- */

.resul{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  background-position-y: center;
  right: 100%;
  transition: all .5s;
}
.activeresul{
  right: 0%
}
.conterazul{
  width: 100%;
  display: block;
  padding: 25px 40px;
}
.tituloresul {
  font-family: BentonSansBBVA-Light;;
  font-size: 35px;
}

/* --- mentoria --- */

.mentoria{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg4.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

/* --- educacion --- */

.edu{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #043278;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

/* --- juntos --- */

.juntos{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg5.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

.conterjuntos{
  width: 40%;
  display: block;
  overflow: hidden;
  right: 50px;
  position: absolute;
}
.conterinterjuntos{
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 25px;
  background-color: #e4f9f9;
}
.iconjuntos{
  width: 90%;
  max-width: 70px;
  display: block;
  padding-bottom: 20px;
}

/* --- apoyo --- */

.apoyo{
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

/* --- comunidad --- */

.comunidad{
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  background-position-y: center;
}

/* --- transformacion --- */

.transform{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg6.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-position-y: center;
}
.contertitutrans{
  width: 90%;
  display: block;
  max-width: 500px;
  padding-top: 50px;
  padding-left: 30px;
  overflow: hidden;
}
.contertitutrans22{
  width: 90%;
  display: block;
  max-width: 300px;
  position: absolute;
  right: 5%;
  bottom: 30%;
}
.myButton {
  background-color: #2ecccc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: BentonSansBBVA-Book;
  font-size: 17px;
  padding: 14px 21px;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 20%;
}
.myButton:hover {
  background-color:#fecd51;
}
/* --- monitoreo --- */

.moni{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url('../img/bg7.jpg');
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-position-y: center;
}
.intermoni{
  width: 40%;
  display: block;
  margin-left: 5%;
  height: auto;
  margin-top: 3%;
  overflow: hidden;
  position: relative;
}

/* --- video --- */


.conterplay{
  width: 50px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.conterplay{
  stroke-width: 5px;
  stroke-miterlimit: 10;
  fill: transparent;
  stroke-dasharray: 670;
  stroke-dashoffset: 670;
  animation: lineaanimateplay 6s forwards infinite;
}
.play{
  fill: #fff;
  animation: trianguloplay 6s forwards infinite;
}



@keyframes lineaanimateplay {
  0% {
    stroke-dashoffset: 670;
  }
  30% {
    stroke-dashoffset: 0;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 670;
  }
}
@keyframes trianguloplay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lineaanimate {
  to {
    stroke-dashoffset: 0;
  }
}




/* video */

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #043278;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #48c2c5;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 700px;
}
.destacadoscifras{
  width: 90%;
  max-width: 450px;
  display: block;
  padding: 30px 18px;
  background-color: #043278;
  text-align: center;
  margin:  0 auto;
}
.titulodes11{
  font-family: BentonSansBBVA-Book;
  font-size: 24px;
  color: #fff;
}
.titulodes12{
  font-family: BentonSansBBVA-Bold;;
  font-size: 35px;
  color: #fff;
}


















